@media (min-width: 768px) {
	.content-well.primary-content  img {
		float: left;
		max-width: 45%;
		margin: 0 30px 30px 0;
		border: 1px solid #3d3d3d;
	}

	.content-well.primary-content img:nth-of-type(even) {
		float: right;
		margin: 0 0 30px 30px;
	}

	.content-well h5 + img + blockquote { /* bring the blockquote down from the header */
		margin-top: 30px;
	}

	.content-well.primary-content h5 + img {
		border-top: 0;
	}

	.sharing {
	}
}